
    @font-face {
    font-family: 'Glacial Indifference Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Glacial Indifference Regular'), url('GlacialIndifference-Regular.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Glacial Indifference Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Glacial Indifference Bold'), url('GlacialIndifference-Bold.woff') format('woff');
    }

body{
	transition:  all 0.5s;
}

.color-frame{
	height:100vh;
	width:100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin:0 auto;
	transition: all 0.75s;
	background:rgb(149, 26, 190);
}
#picker{
	width:500px;
}

#response{
	/*margin-left:150px;*/
	width:500px;
}

.block{
	height:250px;
	width:100%;
}
#genre{
	max-width: 800px;
	display: flex;
	margin:0 auto;
	flex-wrap:wrap;
	justify-content: space-between;
}
.genre-results div{
	position: relative;
}
.genre-results h3{
	font-family:'Glacial Indifference Bold';font-weight:normal;font-size:32px;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	font-size:32px;
	z-index:4;
	margin:0 ;
	color:white;

}
.artist-results div{
	position: relative;
}
.artist-results h3{
	font-family:'Glacial Indifference Bold';font-weight:normal;font-size:32px;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	font-size:32px;
	z-index:4;
	margin:0 ;
	color:white;

}
#genre .item{
	flex-basis:250px;
}

#artist{
	width:1000px;
	height:1000px;
}
#response{
	background:white;
	padding:50px 50px;

}

 #response h1{
 	transition:all 0.5s;
font-family: 'Fredoka One', cursive;
color:rgb(149, 26, 190);
font-size: 80px;
font-weight:normal;
line-height:1;
 }
#response .popularity {
	display: inline-block;
	margin-right:100px;
}
#response .music-score {
	display: inline-block;
}
 #response img{
 	width:50px;
 	height:auto;
 	vertical-align: middle;
 }
 #response h2{
 	font-family:'Glacial Indifference Bold';font-weight:normal;font-size:32px;
 	text-transform:uppercase;
color:rgb(149, 26, 190);
letter-spacing: 3px;
margin-top:-40px;

 }
 #response span{
color:rgb(149, 26, 190);
 	font-family:'Glacial Indifference Bold';font-weight:normal;font-size:32px;
 	font-size:44px;
 	margin-left:20px;
 	/*margin-top:-20px;*/
 	vertical-align: middle;
 }
 #response .genre-list{
 	margin-top:50px;
 }
 #response .genre-item{
 	font-family:'Glacial Indifference Bold';
 	display: inline-block;
 	/*background-image:url('backg.webp');*/
 	/*background-size:cover;*/
 	color:rgb(149, 26, 190);
 	padding: 10px;
 	border: 1px solid rgb(149, 26, 190);
 	border-radius:20px;
 	margin-right:10px;
 	margin-bottom: 10px;
 }

.artist-genre-frame{
	font-size:0px;
}
 .artists, .genres{
 	width: 50%;
 	display: inline-block;
 	box-sizing: border-box;
 	text-align: center;
 	vertical-align: top;

 }
 .genres{
 	background:#e7b0f8;
 }
 .artists{
 	background:	#f6d10d;
 }
 form input{
 	margin-top:30px;
 	border-radius:80px;
 	width:550px;
 	height:80px;
 	outline:none;
 	-webkit-appearance:none;
 	border:0px;
 	margin-bottom:30px;
 	font-family:'Glacial Indifference Bold';
 	padding-left:40px;
 	font-size:40px;
 } 

 .intro{
 	height:100vh;
 	background: white;
 	padding:0px 100px;

 }
 .intro p {
 	font-family:'Glacial Indifference Bold';
 		font-size: 40px;
 		line-height: 60px;
 	 }